* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background-image: url(https://images.deliveryhero.io/image/fd-tr/LH/rcf5-hero.jpg);
    background-size: cover;
    transform: translateY(0px);
    overflow: hidden;
}


.yemek1 {
    background-color: #ed7c31ea;
    text-align: center;
    width: 100%;
    border-radius: 32px;
    max-width: 1500px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(0px);
    animation: 1s ahmet;
    cursor: pointer;
}

@keyframes ahmet {
    0% {
        transform: translateY(-500px);
    }

    100% {
        transform: translateY(0px);
    }

}


.yemek1 .patates {
    margin: 15px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
}

.yemek1 .anasayfa {
    margin: 15px;
    padding: 15px;
    width: 50px;
    cursor: pointer;
}

.yemek1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.giris {
    text-align: center;
    border-radius: 15px;


}

.yemek1 ul {
    display: inline-flex;
    list-style-type: none;
    text-decoration: none;

}

.yemek1 ul li {
    margin: 15px;
    padding: 15px;
    width: 200px;
}

.yemek1 ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.yemek1 ul li:hover {
    transition: 0.8s;
    background-color: #6C5F5B;
    border-radius: 15px;
    filter: opacity(100);
}

.yemek1 .fa {
    margin-right: 8px;
}

.deneme {
    position: relative;
    top: 150px;
    left: 15%;
    width: 25%;
    height: 500px;
    background-color: #4f4a45ea;
    background-position: top;
    text-align: center;
    border-radius: 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    animation: 2s menu;
    transform: translateY(0);
}

@keyframes menu {
    0% {
        transform: translateY(1200px);
    }

    100% {
        transform: translateY(0px);
    }

}

.buton1 {
    font-weight: bold;
    border: none;
    color: black;
    background-color: #ed7c31ea;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.8s;
}

.buton1:hover {
    color: black;
    background-color: #A6CF98;
}

.arama1 {
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    margin-top: 100px;
}

.metin1 {
    font-size: xx-large;
    position: relative;
    top: 25px;
    color: #ECE3CE;
}

.resim1 {
    width: 400px;
    height: 200px;
    position: relative;
    top: 40px;
    display: inline;
    border-radius: 5%;
}

.deneme2 {
    position: relative;
    width: 25%;
    bottom: 350px;
    height: 500px;
    background-color: #4f4a45ea;
    background-position: right;
    text-align: center;
    border-radius: 15px;
    float: right;
    right: 15%;
    font-family: 'Montserrat Alternates', sans-serif;
    animation: 2s menu;
    transform: translateY(0);
}

.buton2 {
    font-weight: bold;
    border: none;
    color: black;
    background-color: #ed7c31ea;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px 10px;
    cursor: pointer;
    transition: 0.8s;
}

.buton2:hover {
    color: black;
    background-color: #A6CF98;
}

.arama2 {
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    margin-top: 100px;
}

.metin2 {
    font-size: xx-large;
    position: relative;
    top: 25px;
    color: #ECE3CE;
}

.resim2 {
    width: 400px;
    height: 200px;
    position: relative;
    top: 40px;
}